.bodyOne, .bodyTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 100px;
  gap: 60px;
}

.bodyOne {
  background-color: #ECEAE3;
}

.bodyTwo {
  /* background-color: #F8F8F8; */
}
